<style>
  .avatarImage {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
</style>
<style type="text/css" data-roadie-ignore>
  @media only screen and (max-width: 480px) {
    .createdBy {
      padding-left: 15px;
    }
  }
</style>

<% content_for :newsletter_title do %>
  <%= @tip.subject %>
<% end %>

<!-- Header  -->
<tr>
  <td align="center" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
            <tr>
              <td align="center" valign="top" width="100%" class="dottedBorder flexibleContainerCell">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td valign="top" class="textContent" colspan="1">
                      <%= image_tag(@tip.creator.gravatar_url, class: 'avatarImage') %>
                    </td>
                    <td valign="top" class="textContent createdBy" colspan="8">
                      created by <%= "#{@tip.creator.first_name} #{@tip.creator.last_name}" %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>

<!-- Main -->
<tr>
  <td align="center" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
            <tr>
              <td align="center" valign="top" width="100%" class="flexibleContainerCell">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td valign="top" class="textContent">
                      <%= raw @tip.body %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>

<%= render "/shared_mailer/share" %>
<%= render "/shared_mailer/invite" %>
<%= render "/shared_mailer/unsubscribe" %>
